/* Footer  */
footer {
    display: block;
}

.footerHead {
    margin: auto;
    padding: 70px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #212529;
    color: white;
    text-align: left;
}

.footerHeading,
.shopping {
    color: white;
    width: 18%;
    line-height: 38px;
    margin: 10px;
}

.Newletter {
    color: white;
    width: 18%;
    margin: 10px;
}

.Newletter h6 {
    line-height: 38px;
}

.Newletter p {
    font-size: 18px;
    line-height: 25px;
    color: #b7b7b7;
}

.footerHeading {
    margin-left: 0;
    font-size: 18px;
}

.shopping {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #b7b7b7;
}

.shopping p {
    line-height: 25px;
    color: #b7b7b7;
}

h6 {
    font-size: 25px;
    margin: 0 0 20px;
}

.boxes {
    display: flex;
}

.boxleft {
    height: 1px;
    width: 14%;
    background-color: #212529;
}

.boxright {
    height: 1px;
    width: 14%;
    background-color: #212529;
}

.box {
    height: 1px;
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #b7b7b77d;
}

.Newletter {
    width: 21%;
}

/* input {
    width: 100%;
    font-size: 15px;
    color: #3d3d3d;
    background: transparent;
    border: none;
    padding: 15px 0;
    border-bottom: 2px solid #ffffff;
} */

.footerBottom {
    height: 80px;
    background-color: #212529;
    color: #b7b7b7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
/* 
.NewsLetter_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}

.NewsLetter_button:hover {
    background-color: #b7b7b7;
    color: black;
} */

.icon_mail_alt {
    color: white;
    font-size: 20px;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .footerHead {
        padding: 70px 5%;
    }

    .footerHeading,
    .shopping,
    .Newletter {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .footerHead {
        padding: 40px 5%;
        flex-direction: column;
    }

    .footerHeading,
    .shopping,
    .Newletter {
        width: 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .footerHead {
        padding: 30px 5%;
    }

    .shopping {
        font-size: 16px;
        line-height: 28px;
    }

    h6 {
        font-size: 16px;
        margin: 0 0 10px;
    }

    .footerBottom {
        padding: 10px 0;
    }
}