.Desc_container {
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
}

.Desc_left {
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
}

.Desc_image {
    height: 600px;
    width: 80%;
}

.Desc_image1 {
    margin: 15px 0px;
    height:140px;
    width: 120px;
    cursor: pointer;
}
.Desc_image1 :hover{
    /* border-radius: 15px; */
    box-shadow:2px #463D8C;
    transform: scale(1.2);
        transition: all 1s;
    /* box-shadow: 5px 5px 10px green; */
}

.Desc_left11 {
    margin-top: 140px;
}

.Desc_left1 {
    width: 20%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.Desc_left2 {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* left part has ended */


.Desc_right {
    /* border: 1px solid green; */
    width: 50%;
    height: 100%;
    margin-top: 70px;
}
.Desc_right button {
    height: 30px;
    background-color: #463D8C;
    color: white;
    font-size: 15px;
    height: 35px;
    width: 155px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Desc_right button:hover {
    background-color: white;
    color: #463D8C;
    cursor: pointer;
}
@media (max-width:1150px){
    .Desc_container{
        display: block;
    }
    .Desc_left{
        width: 100%;
    }
    .Desc_right{
        height: auto;
        width: 100%;
        padding-left: 25px;
    }
}





